  <div class="sidebar hidden-xs hidden-sm">
  	<div class="side-links">
  		<span><%= link_to "Nos stages et Ateliers", workshops_path, {class: "alink nav-link"} %></span>
  		<span><%= link_to "Agenda 2017 - 2018", workshops_path, {class: "alink nav-link"} %></span>
  		<span><%= link_to "Vos stages sur-mesure", tailor_made_workshops_path, {class: "alink nav-link"} %></span>
  	</div>
  </div>

