<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h1>Typography Stylesheet</h1>
			<h2 class="custom bordered">Discover - h2 customized</h2>
			<h3 class="customized bordered">Discover - h3 customized</h3>
			<br>
			<h4 class="customized bordered">Discover - h4 customized</h4>
			<br>
			<h6 class="customized bordered">Discover - h6 customized</h6>
			<br>
		
			<h5>Paragraph title</h5>
			<p>Main text copy: You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures) as you notice that the idea of this exercise is to hypnotize yourself to be aware of two very real possibilities for your future. Two distinct pathways that you could take for your life this very day. Have a think about something that you do that you are maybe not motivated to change about yourself. Prior to running through this technique, just have a think about something that you know you need to be doing, but are not. Then with that thing in mind, follow these simple steps. Step One: Get yourself nice and relaxed and settled. Concentrate on your breathing, engage in the moment and spend some time being still, quiet and drift inside of your own mind.</p>
			<br>

			<h6>Small note title</h6>
			<p class="small-note">Small note text: Hypnotize yourself here. Step two: Use your imagination to imagine walking down the path of your life. Ok, I know that some of you just cried out “but I can’t visualise!”</p>
			<br>
			<p class="fine-print">* This is a fine  print text</p>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h1>Bootstrap styles</h1>
			<h1>Edit form to add here - h1</h1>
			<h2>Edit form to add here - h2</h2>
			<h3>Edit form to add here - h3</h3>
			<h4>Edit form to add here - h4</h4>
			<h5>Edit form to add here - h5</h5>
			<h6>Edit form to add here - h6</h6>
		</div>
	</div>
</div>




