<h1>Edit form to add here - h1</h1>
<h2>Edit form to add here - h2</h2>
<h3>Edit form to add here - h3</h3>
<h4>Edit form to add here - h4</h4>
<h5>Edit form to add here - h5</h5>
<h6>Edit form to add here - h6</h6>

<h3 class="customized bordered">Discover - h3 customized</h3>
<br>
<h4 class="customized bordered">Discover - h4 customized</h4>
<br>
<h6 class="customized bordered">Discover - h6 customized</h6>


<p>Paragraph text</p>
<p class="small-note">Small note text</p>
<p class="fine-print">Fine  print text</p>