<div class="page">
	<div class="sidebar hidden-xs hidden-sm hidden-md">
		<%= render "sidebar" %>
	</div>

	<div class="container">
		<div class="page-content">
			<h4 class="top-marigin">[DRAFT]</h4>
			<h2 class="custom">Cherchez un lieu pour votre séminaire?</h2>
			<div class="main">
			  	<div class="home-section">
			  		<p>Vous êtes une société ou une association et vous cherchez un lieu dans un lieu calme pour vous ressourcer sur tous les plans, je serai heureux de vous accueillir dans les Petites Maisons de Brenantec</p>
			  		<p>Exemples de thématiques: cuisine, bien-être, médtitation...</p>
			  		<ul><strong>Formats possibles:</strong>
			  			<li>avec logement ou sans</li>
			  			<li>avec repas ou sans</li>
			  			<li>avec votre propre coach</li>
			  			<li>possibilité de compléter avec les participants de l’extérieur</li>
			  		</ul>

			  		<ul><strong>Charactéristiques du lieu:</strong>
			  			<li>2 min en voiture depuis Sauzon</li>
			  			<li>5 min en voiture depuis le Palais</li>
				  		<li>Jusqu'à 15 personnes pour un séminaire / atelier / offsite:</li>
				  		<li>Capacité de logement sur place - 7 personnes, 4 chambres, 2 maisons</li>
				  		<li>Jardin de 900m2</li>
				  		<li>Salle de yoga</li>
				  		<li>Terrasse couverte</li>
				  		<li>BBQ</li>
			  		</ul>
			  	</div>
			  	<div class="form-section">
			  		<div class="bkg-request">
			  			<div class="bkg-control text-center">
			  				<%= image_tag 'enveloppe.svg', class: "big-icon" %>
			  				<%= link_to "Envoyer la demande", root_path, class: "btn btn-primary-rose event" %>
			  			</div>
			  		</div>
			  	</div>
		  	</div>
		</div>
			
	</div>
</div>



<% content_for(:after_js) do %>
  <script type="text/javascript">
    var footer = document.getElementById("two").offsetHeight;
    function sticky() {
      if (window.innerWidth < 900) {
        $(".bkg-request").unstick();
      } else {
        $(".bkg-request").sticky({bottomSpacing: 130 + footer});
      }
    };
    window.addEventListener('load', sticky);
    window.addEventListener('resize', sticky);
  </script>
<% end %>