<div class="page">
	<div class="sidebar hidden-xs hidden-sm hidden-md">
		<%= render "sidebar" %>
	</div>

	<div class="container">
		<div class="page-content">
			<h2 class="custom">Cherchez un lieu pour votre séminaire?</h2>
			<div class="main">
			  	<div class="home-section">
			  		<p>Vous cherchez un lieu pour partager ou enseigner des pratiques de cheminement en conscience vers le bien-être personnel pour le corps autant que pour l’esprit ? Ou peut-être vous êtes une association, vous cherchez un lieu calme où se ressourcer sur tous les plans, confronté à l nature et à l’énergie puissante du lieu ? Je serai heureuse de vous accueillir dans les Petites Maisons de Brénantec</p>
			  		<br>
			  		<p>Les formats d’hébergement sont adaptables pour de petits groupes d’une dizaine de personnes :</p>
			  		<ul>
			  			<li>Avec repas  proposés ou sans  deux cuisines indépendantes sont utilisables dans les bâtiments d’hébergement)</li>
			  			<li>Pension complète ou demi-pension</li>
			  			<li>Possibilité de compléter avec les participants de l’extérieur ou non selon la thématique</li>
			  			<li>Possibilité d’intervenants complémentaires (yoga, méditation, massages, moniteurs de sport, accompagnement sur les sentiers côtiers…)</li>
			  		</ul>
			  		<p>N’hésitez pas à m’envoyer une demande, je prendrai contact avec vous pour établir le devis d’une prestation correspondant à votre souhait.</p>
			  		<br>
			  		<p class="bold">Charactéristiques du lieu :</p>
			  		<ul>
			  			<li>Un village particulièrement calme</li>
			  			<li>A 2 min en voiture de  Sauzon (1.5 km)</li>
				  		<li>5 min en voiture depuis le Palais ( 4 km)</li>
				  		<li>Jusqu'à 10 personnes pour un séminaire</li>
				  		<li>Capacité de logement sur place : 10 personnes, 4 chambres de 2 ou 3 lits), 2 maisons, 2 salles de bains, une salle d’eau, 3  WC, 2  salons de repos et 2 cuisines séparées</li>
				  		<li>Une salle de travail de 25 m²</li>
				  		<li>Un Jardin paysager de 900m2</li>
				  		<li>Un équipement de yoga (tapis, coussins et couvertures) pour 10 personnes</li>
				  		<li>Une terrasse couverte</li>
				  		<li>BBQ/mobilier de jardin</li>
				  		<li>Quelques vélos sur place</li>
			  		</ul>
			  	</div>
			  	<div class="form-section">
			  		<div class="bkg-request">
			  			<div class="bkg-control text-center">
			  				<%= image_tag 'enveloppe.svg', class: "big-icon" %>
			  				<%= link_to "Envoyer la demande", root_path, class: "btn btn-primary-rose event" %>
			  			</div>
			  		</div>
			  	</div>
		  	</div>
		</div>
			
	</div>
</div>



<% content_for(:after_js) do %>
  <script type="text/javascript">
    var footer = document.getElementById("two").offsetHeight;
    function sticky() {
      if (window.innerWidth < 900) {
        $(".bkg-request").unstick();
      } else {
        $(".bkg-request").sticky({bottomSpacing: 130 + footer});
      }
    };
    window.addEventListener('load', sticky);
    window.addEventListener('resize', sticky);
  </script>
<% end %>