// Define variables for your color scheme


// Primary color palette:
$brand-blue: #0A579A;
$brand-light-rose: #FF434C;
$brand-rose: #C8434C;
$brand-light-gray: #D7CAC0;
$brand-dark-gray: #526D7A;
$brand-honey: #DCAE1D;

// Secondary colors:
$red: #E21737;
$orange: #FD5E0F;
$yellow: #ffc600;
$green: #00DA63;



// Punctual colors:
$sea: #3F5255;





