.tab-content {
	margin: 0px;
}

.media-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 20px;

	img {
		max-width: 100%;
		height: auto;
	}
}



@media (min-width: 992px) {
    .content-container {
        padding-top: 60px;
    }
}



// Contacts Tab

span.contact {
  margin-left: 15px;
}

span.numbers {
	font-size: 14px;
}


.contacts {
	img {
	    width: 20px;
	    margin-right: 20px;
  }
}


// Additional style for the info form - main styles are in blue.css

.bkg-details.about {
	margin: 0;
	padding-top: 0;
}


@media (max-width: 992px) {
  .bkg-details.about {
    margin: auto;
  }
}



.phrase-container {
  display: flex;
  justify-content: space-around;
  align-items: center;


  h2 {
  	text-align: center;
  }
}


.full-width-text {
	margin: 30px 15px 15px;
}


li {
	img {
		width: 30px;
	}
}


