body {
	font-weight: 300;
}

.unstyled li {
	list-style: none;
}




// Spacing

.padded-v {
	padding: 7px 0px;
}

.padded-h {
	padding: 0px 7px;
}

.left-padded {
  padding-left: 30px;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
	justify-content: left;
}


.top-margin {
  margin-top: 50px;
}

.bottom-margin {
  margin-bottom: 50px;
}

.no-top-margin {
  margin-top: 0px;
}






// Fonts style for navbar and sidebar

.nav-link {
	color: $brand-blue;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	opacity: 0.8;
	cursor: pointer;
}


.nav-link.active {
	font-weight: 700;
}


span .nav-link {
	display: block; // each link starts from a new line
}







// Text styles

.caps {
  text-transform: uppercase;
}


.customized {
  font-size: 14px;
  font-weight: 700;
  color: $brand-honey;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 10px;
}


.small-note {
  font-size: 16px;
}


p.small-note {
  margin-bottom: 6px;
}

.numbers {
  font-size: 14px
}

.fine-print {
  font-size: 12px;
}


.handwritten {
  font-family: $handwriting-font;
  letter-spacing: 1px;
}

.honey {
  color: $brand-honey;
}



// Icons

span.contact {
  margin-left: 15px;
}
