.unstyled li {
	list-style: none;
}

.honey {
  color: $brand-honey;
}

.blue-font {
  color: $brand-dark-gray;
}

.bordered {
  border: 1px dotted grey;
}


// Padding

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding {
  padding: 0;
}

.space-right {
  padding-right: 7px;
}

.space-before {
  padding-top: 15px;
}

.space-after {
  padding-bottom: 15px;
}

.padded-v {
  padding: 7px 0px; // REVIEW
}

.padded-h {
  padding: 0px 7px; // REVIEW
}

.left-padded {
  padding-left: 30px; // REVIEW
}


@media (max-width: 479px) { // REVIEW
    .mobile-padding {
        padding-top: 15px;
    }
}



// Margins

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-top-margin {
  margin-top: 0px;
}


.top-margin {
  margin-top: 50px;
}

.bottom-margin {
  margin-bottom: 50px;
}















