<div class="footer" id="two">
    <div class="logo-footer">

    </div>
    <div class="footer-links">
      <a href="">A propos</a>
      <a href="">Contacts</a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div>