<div class="footer" id="two">
    <div class="logo-footer">
    
    </div>
    <div class="footer-links">
    	<%= link_to "A propos", about_path %>
    	<%= link_to "Contacts", about_path %>
    	<a href="#"><i class="fa fa-instagram"></i></a>
    	<a href="#"><i class="fa fa-facebook"></i></a>
    </div>
  </div>
</div>