<div class="navbar-w">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag 'logo-blue-no-text.png'%>
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="about" class="navbar-item nav-link">A propos</a>
    <div class="dropdown">
      <a href="accommodation" class="navbar-item nav-link" data-toggle="dropdown">Hebergement</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="blue">Petite maison bleue</a></li>
        <li><a href="#">Maison verte</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <a href="" class="navbar-item nav-link" data-toggle="dropdown">Stages et Ateliers</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="#">Nos stages et ateliers</a></li>
        <li><a href="#">Agenda 2017 - 2018</a></li>
        <li><a href="#">Vos stages sur-mesure</a></li>
      </ul>
    </div>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="about">A propos</a></li>
        <li><a href="accommodation">Hébergement</a></li>
        <li><a href="#">Stages et Ateliers</a></li>
      </ul>
    </div>
  </div>
</div>




