<!-- SIDE LINKS -->
<div class="page">
  <div class="sidebar hidden-xs">
  	<div class="side-links">
  		<a class="tab active" data-target="#maisons">
  			<h3>Les petites maisons</h3>
      </a>
      <a class="tab" data-target="#ile">
        <h3>Belle-ile-en-mer</h3>
      </a>
      <a class="tab" data-target="#equipe">
        <h3>Equipe</h3>
      </a>
      <a class="tab" data-target="#contacts">
        <h3>Contacts</h3>
      </a>
  	</div>
  </div>




  <!-- LINKS CONTENT -->
  <div class="content-form">
    <div class="container">
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1 col-sm-9 col-lg-7">
          <div class="tab-content" id="maisons">
            <h4>« Une parenthèse hors du temps, un lieu pour se ressourcer sur tous les plans »</h4>
            <div class="image-container">
              <%= image_tag "photo-maison-drone.png", class: "padded" %>
            </div>
            <h3>Histoire de trois maisons</h3>
            <p>Ici insérer un texte décrivant comment cet endroit est né pour rajouter une touche personnelle</p>
            <h3>Notre philosophie</h3>
            <p></p>
            <ul>
              <li>
                Faire une pause dans votre vie trépidante ;
              </li>
              <li>
                Faire le plein de l’énergie ambiante : forte et illimitée! ;
              <li>
              Redécouvrir la Vie : la vôtre, celle de la nature préservée ;
              </li>
              <li>
               Remettre vos compteurs à zero et repartir du bon pied et dans la bonne direction (voir notre calendrier de stages et ateliers) ;
              </li>
              <li>
                Revenir vers « Vous » ;
              </li>
              <li>
                Vous ressourcer sur tous les plans : corps, âme et esprit (voir notre page « Partenaires et Amis ») ;
              </li>
              <li>
                Pour la découverte de cette île, si bien nommée ! 
              </li>
            </ul>
          </div>
          <div class="tab-content hidden" id="ile">
            <p>Description de Belle-Ile</p>
          </div>
          <div class="tab-content hidden" id="contacts">
            <p>Contact me if you want.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

