<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= link_to "blue" do %>
        <div class="home blue">
          <div class="home-title text-center">
            <p>Découvrir</p>
            <h2>Petite maison bleue</h2>
            <p class="note">1 chambre, 2 - 3 pers.</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= link_to "" do %>
        <div class="home green">
          <div class="home-title text-center">
            <p>Découvrir</p>
            <h2>Maison verte</h2>
            <p class="note">3 chambres, 6 pers.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




