<div class="wrapper">
  <div class="photo-background">
    <%= link_to "accommodation" do %>
      <span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
  <div class="features-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1 home-title">
          <h3 class="letter-spaced">Petite Maison Bleue</h3>
          <p class="note">Brenantec en Sauzon, Belle-Ile-en-Mer</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
          <div class="features-container hidden-xs">
            <div class="icon-holder text-center">
              <i class="fa fa-home" aria-hidden="true"></i>
              <p class="fine-print caps letter-spaced">Maison indépendante</p>
            </div>
          
            <div class="icon-holder text-center">
              <i class="fa fa-bed" aria-hidden="true"></i>
              <p class="fine-print caps letter-spaced">1 chambre</p>
            </div>
          
            <div class="icon-holder text-center">
              <i class="fa fa-user" aria-hidden="true"></i>
              <p class="fine-print caps letter-spaced">2 - 4 pers.</p>
            </div>
        
            <div class="icon-holder text-center">
              <i class="fa fa-bath" aria-hidden="true"></i>
              <p class="fine-print caps letter-spaced">1 salle de bain</p>
            </div>
          
            <div class="icon-holder text-center">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              <p class="fine-print caps letter-spaced">80 m2</p>
            </div>
            
          </div>
          
          <!-- Reduced icon container visible only on mobile -->
          <div class="features-container-mini hidden-sm hidden-md hidden-lg hidden-xl">
            <div class="icon-holder-mini text-center">
              <i class="fa fa-user" aria-hidden="true"></i>
              <p class="caps letter-spaced">2 - 4 pers.</p>
            </div>
        
            <div class="icon-holder-mini text-center">
              <i class="fa fa-bath" aria-hidden="true"></i>
              <p class="caps letter-spaced">1 SDB</p>
            </div>
          
            <div class="icon-holder-mini text-center">
              <i class="fa fa-arrows-alt" aria-hidden="true"></i>
              <p class="caps letter-spaced">80 m2</p>
            </div>
          </div>
          <!-- End of mobile format -->
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-1">

    <!-- Description section -->
      <div class="row">
        <div class="col-xs-12">
          <div class="home-description">
            <h4 class="customized">Descriptif</h4>
            <p>Cette maison récente, construite en 2001, d'une superficie de 80 m2 environ, fait partie d’un petit hameau familial, implanté sur un terrain – jardin paysager de 900 m2. Référencée « 2 Clévacances » par l’Office du Tourisme de Belle-Ile-en-Mer, la maison est composée de 2 pièces principales : un séjour avec coin cuisine et une chambre - et d’une salle de bain.</p>
            <h5>Au rez de chaussée:</h5>
            <ul>
              <li>Un séjour avec cheminée, un coin repas, un coin cuisine;</li>
              <li>Une salle de bains avec baignoire et wc.</li>
            </ul>
            <p><i class="fa fa-info-circle padded-h" aria-hidden="true"></i>Un couchage complémentaire est  dans le séjour (canapé-lit une personne).</p>
            <%= link_to do %>
              <i class="fa fa-map-o small-note padded-h" aria-hidden="true"></i>
              <span class="small-note">Voir le plan</span>
            <% end %>
            <h5>A l’étage :</h5>
            <p>Une très grande chambre, très claire avec:</p>
            <ul>
              <li>un lit double – sommier à lattes (180 x 200 cm);</li>
              <li>un lit simple – sommier à lattes (90 x 200 cm)</li>
            </ul>
            <%= link_to do %>
              <i class="fa fa-map-o small-note padded-h" aria-hidden="true"></i>
              <span class="small-note">Voir le plan</span>
            <% end %>
          </div>
        </div>
      </div>

      <!-- Equipment section -->
      <div class="row">
        <div class="col-xs-12">
          <h4 class="customized">Equipement</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p class="honey">Individuel:</p>
          <div class="col-xs-6 small-note">
            <p>Internet</p>
            <p>Terrasse</p>
            <p>Cuisine</p>
          </div>
          <div class="col-xs-6 small-note">
            <p>Cheminée</p>
            <p>TV</p>
            <p>Aspirateur</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <p class="honey">Commun:</p>
          <div class="col-xs-12 small-note">
            <p>BBQ</p>
            <p>Lave-linge / Sèche-linge</p>
            <p>Parking privatif</p>
          </div>
        </div>
      </div>   
    </div>
  </div>
  


</div>
