<div class="wrapper">
  <div class="photo-background">
    <%= link_to "accommodation" do %>
      <span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></span>
    <% end %>
  </div>
  <div class="features-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1 home-title">
          <h3 class="letter-spaced">Maison Bleue</h3>
          <p class="note">Sauzon, Belle-Ile-en-Mer</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
        <div class="features-container">
          <div class="icon-holder text-center">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p class="fine-print caps letter-spaced">Maison indépendante</p>
          </div>
          <div class="icon-holder text-center">
            <i class="fa fa-bed" aria-hidden="true"></i>
            <p class="fine-print caps letter-spaced">1 chambre</p>
          </div>
          <div class="icon-holder text-center">
            <i class="fa fa-user" aria-hidden="true"></i>
            <p class="fine-print caps letter-spaced">2 - 3 pers.</p>
          </div>
          <div class="icon-holder text-center">
            <i class="fa fa-bath" aria-hidden="true"></i>
            <p class="fine-print caps letter-spaced">1 salle de bain</p>
          </div>
          <div class="icon-holder text-center">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            <p class="fine-print caps letter-spaced">80 m2</p>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>
</div>
