<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path 'home-page-4.jpg'%>)"%>
  <div class="banner-content">
    <h1 class="handwritten">Sentiers de Soi</h1>
    <p>à Belle-Ile-en-Mer</p>
    <a class="btn btn-primary-white btn-lg">Découvrir</a>
  </div>
</div>