<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2 class="custom">Demande de renseignement - événement sur-mesure</h2>
      <h6 class="customized honey">Nom</h6>
      <p><%= @brequest.name %></p>
      <h6 class="customized honey">Email</h6>
      <p><%= @brequest.email%></p>
      <h6 class="customized honey">Message</h6>
      <p><%= @brequest.message%></p>      
    </div>
  </div>
</div>
