<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h2 class="custom">Demande de participation à un atelier</h2>
      <b>Nom</b>: <p><%= @brequest.name %></p>
      <b>Email</b>: <p><%= @brequest.email%></p>
      <b>Nombre de participants</b>: <p><%= @brequest.nb_guests%></p>
      <b>Message</b>: <p><%= @brequest.message%></p>      
    </div>
  </div>
</div>
