.btn-primary-white {
	border: 3px solid white;
	border-radius: 30px;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 400;
	width: 200px;
	padding: 15px 15px;
	letter-spacing: 2px;
}

.btn-primary-white:hover {
	background: white;
	color: $sea;
}



.btn-primary-rose {
	background-color: $brand-light-rose;
	border-radius: 15px;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	padding: 12px 12px;
	letter-spacing: 2px;
}

.btn-primary-rose:hover {
	background-color: $brand-rose;
	color: white;
}



.btn-agency {
	border-radius: 15px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	padding: 10px 10px;
	letter-spacing: 2px;
	opacity: 0.9;
	margin-top: 15px;
	background-color: white;
	border-style: solid;
	border-width: 1px;

	img {
		width: 35px;
	}
}

.btn-agency:hover {
	transition: color 0.3s ease;
	font-weight: 700;
	border-width: 2px;
	border-style: solid;
}


.abritel {
	color: $brand-blue;
	border-color: $brand-blue;
}

.airbnb {
	color: #fd5c63;
	border-color: #fd5c63;
}


.abritel:hover {
	color: $brand-blue;
}

.airbnb:hover {
	color: #fd5c63;	
}





.fixed-size {
	height: 50px;
	width: 230px;
}


.fixed-size-sf {
	width: 100%;
	height: 50px;
	margin-top: 15px;
}
