
// About Belle-Ile page --> Landmarks style

.landmark-icon-container {
	display: flex;
	justify-content: space-around;

	img {
		height: 40px;
		width: auto;
	}
}


.card {
	margin: auto;
	padding: 12px 0px;
}

.round-image {
	width: 150px;
	height: auto;
	border-radius: 50%;
}


.card-description {
	width: 150px;
	margin: auto;
	padding: 12px 0px;
}

.card-text {
	font-size: 15px;
	margin: 0px;
}

.card-note {
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	color: $brand-honey;
	margin: 0px;
}



// Landmark separators --> TO REFACTOR !!!
.things-to-see {
  padding-top: 40px;
  margin: 50px 10px;
  border-top: 1px solid $brand-honey;
  display: inline-block;
  position: relative;
}

.things-to-see:before {
    position: absolute;
    left: 46.5%; /* center the element */
    margin-top: -80px; /* shift left by (width+border)/2 */
    display: block;
    content: '';
    width: 80px;
    height: 80px;
    background-image: image-url('photo-camera-img.png');
    background-size: cover;
}



.things-to-do {
  padding-top: 40px;
  margin: 50px 10px;
  border-top: 1px solid $brand-honey;
  display: inline-block;
  position: relative;
}

.things-to-do:before {
    position: absolute;
    left: 46.5%; /* center the element */
    margin-top: -80px; /* shift left by (width+border)/2 */
    display: block;
    content: '';
    width: 80px;
    height: 80px;
    background-image: image-url('sea-horse-img.png');
    background-size: cover;
}



.things-to-taste {
  padding-top: 40px;
  margin: 50px 10px;
  border-top: 1px solid $brand-honey;
  display: inline-block;
  position: relative;
}

.things-to-taste:before {
    position: absolute;
    left: 46.5%; /* center the element */
    margin-top: -80px; /* shift left by (width+border)/2 */
    display: block;
    content: '';
    width: 80px;
    height: 80px;
    background-image: image-url('dish-img.png');
    background-size: cover;
}


// Workshops page

.card-w {
  width: 220px;
  margin: auto;
  padding: 12px 0px;
  margin-bottom: 20px;
}

.bordered {
  border: 1px solid #979797;
}

.card-description-w {
  width: 190px;
  margin: auto;
  padding-bottom: 12px;
  text-align: left;

  .bigger {
    font-size: 16px;
  }
}

.card-image-w {
  padding: 10px 5px;
  margin: 0;  
}
