
// Tab-content pages (section "A propos")
.panoramic-image img {
    max-width: 100%;
    height: auto;
}



.inline-icons {
	img {
		height: 27px;
	}		
}


.big-icon {
	width: 80px;
	margin: 50px auto 25px;
}