
// Tab-content pages (section "A propos")
img.panoramic-image {
    max-width: 100%;
    height: auto;
}



// Icons


.icon-card {
  width: 120px;

  i {
    font-size: 30px;
    margin-bottom: 5px;
  }

  p {
    font-size: 10px;
  }

  img {
    height: 50px;
    margin: 30px 0 15px 0;
  }
}




.inline-icons {
	img {
		height: 27px;
	}		
}


.big-icon {
	width: 80px;
	margin: 50px auto 25px;
}