.page {
	display: flex;
	justify-content: space-between;
}


.sidebar {
	height: 1900px;
	width: 350px;
	background-color: rgba(216,216,216,0.06);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}


.side-links {
	padding-top: 100px;
	padding-left: 60px;
}

.sidebar h3 {
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 15px;
}

.sidebar a:hover {
  color: #da552f;
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
}



.tab.active h3 {
	font-weight: 700;
}


.tab-content {
	font-size: 18px;
	padding-top: 50px;
}


.content-form {
	flex-grow: 1;
	overflow-y: scroll;
	padding-top: 6%;
}

