.page {
	display: flex;
	justify-content: space-between;
}


.sidebar {
	height: 1900px;
	width: 300px;
	background-color: rgba(216,216,216,0.06);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
 

.side-links {
	padding-top: 100px;
	padding-left: 60px;

	a {
		margin-top: 15px;
	}
}


.content-form {
	flex-grow: 1;
	overflow-y: scroll;
}

.tab-content {
	margin: 0px;
}



.subsection {
	margin-top: 20px;
	display: flex;
	align-items: center;
}



.media-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 30px 30px;

	img {
		max-width: 100%;
		height: auto;
	}
}







